/* Add styles here */
body {
  margin: 0px;
  padding: 0px;
}

.app-body {
  margin: 0px 80px;
}

.navbar {
  border-bottom: solid 5px;
  border-color: #ac05ff;
  display: flex;
  align-items: flex-end;
  height: 80px;
  width: 100%;
  background-color: #242526;
}

.navlinks {
  display: flex;
  list-style: none;
  padding-left: 80px;
  margin-bottom: 5px;
}

.navlinks a {
  margin-right: 50px;
  font-size: 18px;
  text-decoration: none;
  color: #ac05ff;
}

.navlinks a:hover {
  border-bottom: solid 2px;
  border-color: #ac05ff;
}

.welcome {
  margin-top: 30px;
}

.bosses-container {
  /* border: solid; */
  display: flex;
  margin-top: 30px;
  height: 625px;
}

.bosses-list {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow: scroll;
  width: 65%;
}

.bosses-input {
  border-left: solid;
  border-width: thin;
  padding: 15px 0px 0px 20px;
  width: 35%;
}

.bosses-input h4 {
  margin-bottom: 20px;
}

.bosses-input .btn-success {
  margin-top: 30px;
}